<hr class="my-5" />

<footer class="pb-5">
  <p class="my-0 float-right"><a href="#">Back to top</a></p>
  <p class="my-0">
    Source code available at
    <a href="https://github.com/nzwsch/micro">GitHub</a>
  </p>
</footer>
