<nav class="navbar navbar-light mb-4" style="background-color: #e3f2fd;">
  <div class="container">
    <%= link_to "Micro", root_path, class: 'navbar-brand mb-0 h1' %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% if account_signed_in? %>
          <%= link_to "Sign out", destroy_account_session_path, method: :delete, class: 'nav-link' %>
        <% else %>
          <%= link_to "Sign in", new_account_session_path, class: 'nav-link' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
