<div class="media pt-2 border-bottom">
  <div class="mb-2 mr-3">
    <%= image_tag micropost.account.avatar_url, alt: micropost.account.name, size: '64x64' %>
  </div>
  <div class="media-body">
    <%= content_tag :p, class: 'mb-2' do %>
      <%= content_tag :strong, micropost.account.name, class: 'mr-2 text-primary' %>
      <%= sanitize_and_replace_to_link micropost.body %>
    <% end %>
    <ul class="nav micropost-actions">
      <li class="nav-item"><%= link_to "#{distance_of_time_in_words_to_now(micropost.created_at)} ago", micropost, class: 'nav-link' %></li>
      <% if account_signed_in? %>
        <li class="nav-item"><%= link_to 'Edit', edit_micropost_path(micropost), class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</div>
