<%= content_tag :div, '', id: 'shout_out' if account_signed_in? %>

<h3 class="my-3 text-primary">Shouts</h3>

<% @microposts.each do |micropost| %>
  <% cache_unless account_signed_in?, micropost do %>
    <%= render "micropost", micropost: micropost %>
  <% end %>
<% end %>

<br />

<%== pagy_nav_bootstrap(@pagy) %>
