<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @micropost.account.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= sanitize @micropost.body %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) if account_signed_in? %>
<%= link_to 'Back', microposts_path %>
