<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Micro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'bootstrap' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'bootstrap/navbar' %>
    <div class="container">
      <%= render 'bootstrap/alerts' %>
      <%= yield %>
      <%= render 'bootstrap/footer' %>
    </div>
  </body>
</html>
